
@{
    ViewBag.Title = "A";
}

<h2>A (Landing) - Byung Moon</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Eraser</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="outline" col-lg-3></div>

    <div class="inside">

        <div class="eraser">
            <img src="asserts/img/Logo.png">
        </div>
        <div>
            <h1>MINDERASER</h1>
        </div>

        <div class="main">
            <p>
                Hello there! I know today was
                <br>a hectic day…but there will be
                <br>brighter days in the future!
                <br>
                <br>
                You can simply type out your mind.
                <br>
                Let out everything on your mind here.
                <br>
                <br>
                Leave with a cleared mind,
                <br>
                free from your negative thoughts.
            </p>
        </div>
        <button class="btn" onclick="myFunction()">ERASE YOUR NEGATIVE MIND!</button>
    </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="index.js"></script>
</body>
</html>

