
@{
    ViewBag.Title = "B";
}

<h2>B (Tutorial) - Byung Moon</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <div class="eraser">
        <img src="asserts/img/Logo2.png">
        <button class="signIn">SIGN IN</button>
    </div>


    <div class="user">

    </div>

    <div>
        <input type="text" class="button" placeholder="YOU CAN LET GO YOUR NEGATIVE MIND HERE!">
        <img class="vector" src="asserts/img/Vector.png">
    </div>

</body>
</html>