
@{
    ViewBag.Title = "C";
}
<h2>C (Main Feature) - Byung Moon &amp; Jaehun</h2>
<div>
    <div>
        <div id="mainboard" style="height:500px;background-color:#ddd;">

        </div>
        <div>
            <input class="form-control" type="text" />
        </div>
    </div>
</div>
