body {
    padding:0;
    margin:30px;
    background-color:#EB9597;
}
a {
    color:snow;
}
a:hover {
    color:blue;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.bodycontainer {
    min-height:600px;
}

.white-blurred-edge {
    padding:10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #EB9597 inset;
}